/* Fonts and Icons START*/
$font: "Lato-Regular";


@font-face {
    font-family: "Lato-Bold";
    src: url(../fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/Lato-Regular.ttf);
}

/* Fonts and Icons END*/
